<h1>Welcome to our Tamagotchi simulator.</h1>

<h2>Please input some information to create your new pet.</h2>

<form action="/updated_status" method="post">
  <label for="name"> What shall we name your new pet?</label>
  <input id="name" name="name" type="text">
  <p></p>
  <label for="type"> What type of creature is your pet?</label>
  <input id="type" name="type" type="text">
  <p></p><button type="submit"> Get started!</button>
</form>
